name: CI

on:
  pull_request: ~
  push:
    branches:
      - main
  release:
    types:
      - created
  schedule:
    - cron: '0 */12 * * *'

jobs:
  test:
    name: "Build and Test - PHP ${{ matrix.php }} Symfony:${{ matrix.symfony-version }} ${{ matrix.deps }}"
    runs-on: ubuntu-latest
    env:
      SYMFONY_REQUIRE: ${{ matrix.symfony-version }}
    strategy:
      matrix:
        include:
          - symfony-version: 6.3
            php: 8.1
            deps: low
          - symfony-version: 6.4
            php: 8.1
            deps: high
          - symfony-version: 7.0
            php: 8.2
            deps: high
          - symfony-version: 7.1
            php: 8.3
            deps: high
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          coverage: none
          php-version: ${{ matrix.php }}

      - name: Install dependencies
        if: matrix.deps == 'high'
        run: composer install

      - name: Install dependencies (min)
        if: matrix.deps == 'low'
        run: composer update --prefer-lowest --prefer-stable

      - name: Run tests
        run: |
          ./vendor/bin/simple-phpunit

  php-cs-fixer:
    name: PHP CS Fixer
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          tools: php-cs-fixer

      - name: Run PHP-CS-Fixer
        run:
          php-cs-fixer fix --dry-run --diff

  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          tools: phpstan

      - name: Install Composer dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Run PHPStan
        run: vendor/bin/phpstan analyse
